<h1>Current Projects:</h1> <br>
<ul style="font-size: 14px">
    <li>Notflix React and Rails App 
    <ul>
        <li><%= link_to "Notflix React Frontend Repo", "https://github.com/dwisecar/netflix-decider-client", target: :_blank %></li>
        <li><%= link_to "Notflix Rails Backend Repo", "https://github.com/tbustama/movie-decider-backend", target: :_blank%></li>
    </ul>
    </li> <br>
    <li>Calendar and Task's Vanilla JS App 
    <ul>
        <li><%= link_to "Calendar and Task's Frontend Repo", "https://github.com/bswan0002/to-do-frontend", target: :_blank%></li>
        <li><%= link_to "Calendar and Task's Rails Backend Repo", "https://github.com/tbustama/to-do-backend", target: :_blank%></li>
    </ul>
    </li> <br>
    <li>Food and Drinks Rails App
    <ul>
        <li> <%= link_to "Food and Drinks Rails App", "https://github.com/tbustama/food_and_drink", target: :_blank%></li>
    </ul>
   </li> <br>
    <li>Ruby CLI App</li>
    <ul>
        <li><%= link_to "Ruby CLI App Repo", "https://github.com/tbustama/ruby-project-guidelines", target: :_blank%></li>
        <li style="list-style-type:none"><iframe height="400" width="700"src="https://youtube.com/embed/zaw2F9xouJ0?rel=0&autoplay=0"></iframe></li>
    </ul>
    </li> <br>
    <li><%= link_to "This Website's Repo", "https://github.com/tbustama/personal_page", target: :_blank%></li> <br>
    
</ul>
