<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>Taylor Bustamante</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0px;">
    
    <nav class="navbar navbar-inverse" style="min-height: 54px">
      <div class="container" style="width: 1300px">
        <div class="navbar-header">
          <%= link_to image_tag("house.png", width:22,height:22), home_path, class: "navbar-brand" %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to "Blogs", posts_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><%= link_to "Resume", resume_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><%= link_to "Projects", project_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><%= link_to "Contact", contacts_path %></li>
          </ul>
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Out", logout_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Create Post", new_post_path %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Log In", login_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container"><%= yield %></div>
  </body>
  
</html>
